.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: black;
  color: white;
}

.form{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

button:hover{
  color: white;
  background: rgb(116, 47, 255);
}

button{ 
  background: rgb(34, 255, 0);
  border-radius: 50%;
}



label{
  margin: 0 5px;
}

